<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

    <br/>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>

    <br/>

    <label for="role_admin">ADMIN</label>
    <input type="checkbox" name="ADMIN" th:checked="${ADMIN}" id="role_admin">

    <label for="role_user">USER</label>
    <input type="checkbox" name="USER" th:checked="${USER}" id="role_user">
    <br/>
    <input type="submit" value="Create!"/>
</form>

<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>