<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>

<a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>